/projects/EA-WCM-P.X/nbproject/private/
/projects/EA-WCM-P.X/build/default/
/projects/EA-WCM-P.X/dist/default/
/projects/EmbeddedClient-Microchip-WCM.X/build/default/
/projects/EmbeddedClient-Microchip-WCM.X/dist/default/
/projects/EmbeddedClient-Microchip-WCM.X/nbproject/private/
/projects/EmbeddedClient-Microchip-WCM.X/nbproject/Makefile*

.DS_Store
